#g{
    background:#000;
}
#bg {
    opacity:0.6;
}
#msg .f{
    background-color: #E6E1F9;
    color: #1c1c1e;
}
#msg .m{
    background-color: #4A4E69;
    color: #fff;
}
#foot p {
  color:#666666;
}

#foot p span:nth-child(1) {
  color: #007bff;
}

#foot > span {
  color:#007bff;
}
